* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  margin: 0 auto;

}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 4em;
    background: #222;
    display: flex;
    flex-flow: row;
}

.brand > a {
    text-decoration: none;
    font-size: 2em;
    color: #fff;
}

.brand > a span {
    color: #ff9900;
}

.nav-links {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li, a {
    padding-left: 1rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.header {
  color: #fff;
  position: relative;
}

.slider {
  position: relative;
 
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
.slider ul li {
  position: relative;
  height: 100%;
  float: left;
}
.slider ul li img{
  width: 500px;
  height: 265px;
}
 
.slider #prev, .slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
.slider #prev:hover, .slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
.slider #prev {
  left: 10px;
}
.slider #next {
  right: 10px;
}

.header-content {
  width: 50;
}

.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.4s;
  animation-name: fade;
  animation-duration: 2.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
/* end - carousel */

.header-content h1 {
    font-size: 4em;
    color: #ff9900;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
}

.product{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2em;
    padding: 2em;
}

.main .product button {
    border: none;
    border-radius: 5px;
    padding: .6em;
    border: #ff9900;
}