* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 4em;
    background: #222;
    display: flex;
    flex-flow: row;
}

.brand > a {
    text-decoration: none;
    font-size: 2em;

}

ul {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    padding-left: 1rem;
    list-style: none;
}
 li a {
     text-decoration: none;
     color: #fff;
 }



.hero > .header {
    height: 100vh;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.header > .header-content {
    width: 50%;
    margin: 4rem 4rem;
    position: absolute;
    top: 5em;

}

.header-content h1 {
    font-size: 4em;
    color: #ff9900;
}

.header-content button {
    display: block;
    margin: 2em 0;
    padding: 1em;
    border: none;
    border-radius: .5em;
    color: #222;
    background-color: #ff9900;
    cursor: pointer;
}

.main {
    width: 100%;
    background-color: #fff;
}

.main .container {
    width: 90%;
    margin: auto 4rem;
}

.main .products {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.main .product img {
    width: 70%;
}

.main .product button {
    border: none;
    border-radius: 5px;
    padding: .6em;
    border: #ff9900;
}